
.font-style {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style:normal ;
}

/* nav design */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 160px ;
    align-content: center;
    margin: 59px 36px;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
}
.nav-btn{
    background-color: #FFFFFF;
    border-color: #006A50;
    color: #006A50;
    padding:15px 30px  ;
    border-radius: 7px;
    font-size: 18px;
   
}
.nav-btn:hover{
background-color: #006A50;
color:#FFFFFF ;
}

/* banner design */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 50px 40px;
    margin: 60px 105px ;
}
.banner-title{
    font-size: 24;
    color: #0e0e0e71;
    
}
.banner-discription{
    font-size: 44px;
    font-weight: bold;
}
.button{
    color: #FFFFFF;
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    border-radius: 8px;
}

button:hover{
    background-color: #10cc2d51;
}
/* Vision of Future */
.vf-title{
    font-size: 40px;
    font-weight: bold;
    margin: 24px ;
}
.vf-discription{
    font-size: 16px;
}
.Vision-of-Future{
    margin: 80px 102px;
}
.vf-cd{
    background-color: #548ff52a ;
    border-radius: 16px;
    padding: 32px 32px;
    margin-right: 24px;
}
.vf-cd-title{
    font-size: 20px;
    font-weight: bold;
}
.vf-cd-discription{
    font-size: 16px;
}
.vf-cd-container{
    display: flex;
    margin-top: 32px;
    
}
.card2{
    background-color:#09a15d28 ;
}
.card3{
    background-color: #ffc43934;
}
.button1{
    background-color: #5490F5;
}
.button2{
    background-color: #09A15C;
}
.button3{
    background-color: #FFC239;
}

/*  Recent news */
.rn-container{
    margin: 80px 105px;
    
}

/* Donate Today  */
.dt{
    margin: 50px 105px;
   background-color: #F1F1F3;
  justify-items: center;
  text-align: center;
  border-radius: 24px;
}
.tk-btn{
    font-weight: bold;
    font-size: 40px;
    padding: 40px;
    border: none;
    color: #393A3A;
    background-color: #FFFFFF;
    margin: 32px 24px;
    border-radius: 24px;

}
.tk{display: flex;}
.tk-cl{
    background-color: #80efd377;
}
.ip-tx{
    padding: 20px 40px;
    height: 64px; 
    width: 900px;
    text-align: center;
    margin-bottom: 32px;
    border-radius: 24px;
    font-size: 20px;
    border: none;
}
/* Subscribe Newsletter */

.Subscribe{
    
    margin: 80px 102px;
    text-align: center;
    border-radius: 24px;
    background-color: #C6E4D6;
    padding: 80px 100px;
}


.sn-title{
   
    font-size: 40px;
    font-weight: bold;
}
.sn-discription{
    padding: 16px;
    font-size: 16px;
}
.email{
    height: 55px;
    width: 600px;
    padding: 18px 40px;
    border-radius: 10px 0px 0px 10px;
    color: #0E0E0E;
    border: none;
}
.button4{
    font-size: 18px;
   padding: 17px 34px;
   border: none;
   background-color: #006A50;
   border-radius: 0px 10px 10px 0px;
   
}
.email-btn{ 
   display: flex;
   justify-content: center;
  
}
/* pm discribe */

.pm{margin: 80px 102px;margin: 80px 102px;
    background-color: aliceblue;
    border-radius: 16px;
    padding: 48px 24px;
    text-align: start;
    background-image: url(./photo/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 40px;
   

}
.pm-discription{
   
   font-size: 16px;
  
}
.pm-name{
    font-size: 20px;
    font-weight: 600;
}
.title{
    font-size: 16px;
    color: #0e0e0e96;
    
}

/* new */
.rn-title{
    font-size: 40px;
    font-weight: bold;
}
.discription{
    color: rgba(19, 5, 5, 0.729);
}

 .box1{
    background-color: #C6E4D6;
    display: flex;
    padding: 48px;
    margin: 80px 105px;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    border-radius: 24px;
    border-radius: 24px;
 }
 .box1-left{
    width: 1300px;
    height: 306px;
    background-image: url(./photo/satelite.png);
    margin-left: 32px;
    text-align: center;
    border-radius: 24px;
 }
 .box1-right{
    margin-left: 32px;
    
 }
 .box2{ background-color: #C6E4D6;
    display: flex;
    padding: 48px;
    margin: 80px 105px;
    justify-content: space-around;
    
    align-items: center;
    text-align: justify;
    border-radius: 24px;
 }
 .box2-left{
    width: 1300px;
    height: 306px;
    background-image: url(./photo/satelite.png);
    margin-left: 32px;
    text-align: center;
    border-radius: 24px;
 }
 .box2-right{
    margin-left: 32px;
    
 }